<suite name="AllTests">

    <listeners>
        <listener class-name="reports.ExtentReportListener"/>
    </listeners>

    <test name="SeleniumTests">
        <classes>
            <class name="pages.HomePage"/>
            <class name="pages.Signup"/>
            <class name="pages.Login"/>
            <class name="pages.CartPage"/>
            <class name="pages.AboutUs"/>
            <class name="pages.Contact"/>
            <!-- Add more test classes here -->
        </classes>
    </test>
</suite>

